.main{ width:1000px; margin:37px auto 0; padding:0 0 60px 0; overflow:hidden;}
.main_left{ float:left; width:217px; margin:0 auto; padding:0; overflow:hidden;}
.main_right{ float:right; width:759px; margin:0 auto; padding:0; overflow:hidden;}
.sub_nav{ clear:both; padding:6px 4px; border-top:3px solid #e91929; margin:0 auto 70px; overflow:hidden;}
.sub_nav ul li{ font-size:15px; height:30px; line-height:30px; border-bottom:1px dashed #a7a7a7; margin:0 auto; padding:0 6px 0 16px; text-align:left; overflow:hidden;}
.sub_nav ul li.last{ border-bottom:none; _width:187px; }
.sub_nav ul li a{color:#3e3a39; display:block; background:url(../img/sub_nav_bg_off.jpg) no-repeat right center; }
.sub_nav ul li a:link, .sub_nav ul li a:visited{text-decoration:none;color:#3e3a39; background:url(../!images/sub_nav_bg_off.jpg) no-repeat right center;}
.sub_nav ul li a:hover, .sub_nav ul li a:active, .sub_nav ul li a:focus{text-decoration:none;color:#e91929; background:url(../img/sub_nav_bg.jpg) no-repeat right center;}
.sub_nav ul li a.counent{color:#e91929; background:url(../img/sub_nav_bg.jpg) no-repeat right center;}
.sub_news{ clear:both; border-bottom:2px solid #c8a063; border-top:2px solid #c8a063; padding:9px 0; margin:0 auto; text-align:left; overflow:hidden;}
.sub_news p img{ width:217px; height:105px;}
.sub_title{ font-size:15px; line-height:24px; margin:5px auto 0;}
.sub_news_title{ font-size:13px; line-height:22px;}
.sub_news_info{ font-size:12px; line-height:20px;}

.pagenavi{font-family: "SimSun"; text-align:left; padding:22px 0 6px 0; border-bottom:1px dashed #3e3a39;}
.main_content{ padding:0 16px; width:727px; text-align:justify; text-justify:inter-ideograph;-webkit-text-justify:justify; margin:10px auto 0; text-align:left; overflow:hidden;}
.main_content h1{ font-weight:normal; font-size:20px; line-height:40px; margin:0 auto 8px;}
.main_content p{ line-height:24px;}

/*AboutUs*/
.aboutus_main p{ margin-bottom:20px;}
.au_bottom{ width:727px; margin:0 auto; padding:0; overflow:hidden;}
.slideUl{position: relative;width: 727px;height: 95px;margin: 0 auto;overflow: hidden;}
.slideUl ul{ position:absolute; top:0; left:0; height:95px; width:9999px;}
.slideUl ul li{ float:left; width:183px; text-align:center;}

.dp_map{ position:relative; height:317px; margin:0 auto; padding:0; background:url(../!images/dp_map_bg.jpg) no-repeat top center;}
.dp_map ul li{ position:absolute; width:50px; height:30px; text-align:center; padding:22px 0 0 0; font-size:14px; line-height:30px; background:url(../!images/dp_year_bg.jpg) no-repeat center 2px; cursor:pointer; }
.dp_map ul li.current{ background:url(../!images/dp_year_onbg.jpg) no-repeat center 2px;}
.dp_map ul li.select{ background:url(../!images/dp_year_onbg.jpg) no-repeat center 2px;}
.dp_map ul li.y_2013{ top:0; left:478px;}
.dp_map ul li.y_2012{ top:0; left:342px;}
.dp_map ul li.y_2011{ top:0; left:210px;}
.dp_map ul li.y_2010{ top:0; left:78px;}
.dp_map ul li.y_2009{ top:51px; left:78px;}
.dp_map ul li.y_2008{ top:51px; left:210px;}
.dp_map ul li.y_2007{ top:51px; left:342px;}
.dp_map ul li.y_2006{ top:51px; left:478px;}
.dp_map ul li.y_2005{ top:51px; left:616px;}
.dp_map ul li.y_2004{ top:101px; left:616px;}
.dp_map ul li.y_2003{ top:101px; left:478px;}
.dp_map ul li.y_2002{ top:101px; left:342px;}
.dp_map ul li.y_2001{ top:101px; left:210px;}
.dp_map ul li.y_2000{ top:101px; left:78px;}
.dp_map ul li.y_1999{ top:152px; left:78px;}
.dp_map ul li.y_1998{ top:152px; left:210px;}
.dp_map ul li.y_1995{ top:152px; left:478px;}
.dp_map ul li.y_1994{ top:203px; left:616px;}
.dp_map ul li.y_1993{ top:203px; left:478px;}
.dp_map ul li.y_1992{ top:203px; left:342px;}
.dp_map ul li.y_1991{ top:203px; left:210px;}
.dp_map ul li.y_1988{ top:253px; left:342px;}
.dp_map ul li.y_1987{ top:253px; left:478px;}
.dp_info{ clear:both; position:relative; border-top:1px dashed #3e3a39; margin:20px auto 0; padding:30px 0 0 0; overflow:hidden;}
.dp_counent{ width:630px; margin:0 auto; padding:0;height:auto!important; height:174px; min-height:174px; overflow:hidden;}
.dp_left{ position:absolute; top:70px; left:10px; cursor:pointer;}
.dp_right{ position:absolute; top:70px; right:10px; cursor:pointer;}
.dp_counent ul{ width:99999px;}
.dp_counent ul li{ width:600px; float:left; margin:0 15px; display:inline;}
.dp_counent ul li p{ line-height:24px; margin:0 auto 10px;}
.dp_year{ font-size:16px; font-weight:bold; margin:0 auto 10px;}

.culture_list{ clear:both; width:730px; margin:0 auto; padding:0; overflow:hidden;}
.culture_list ul li{ clear:both; border-bottom:1px dashed #3e3a39; margin:0 auto 20px; padding:0 0 26px 0; overflow:hidden;}
p.culture_info{ line-height:24px; margin:0 auto; padding:0;}
p.culture_titel{ font-size:15px; padding:0 0 2px 0;}
p.culture_more{ text-align:right; padding:0 30px 0 0;}
.wh_time{ height:15px;}

.honour{ clear:both; width:700px; margin:0 auto; padding:0; overflow:hidden;}
.honour ul li{height: 40px;line-height: 40px;border-bottom: 1px dashed #5e5e5e;text-align: left;font-size: 14px;}
.honour ul li span {width: 340px;float: left;padding-left: 10px;}

.organization{ text-align:center;}




.contactus{ clear:both; width:620px; margin:0 auto; padding:0; overflow:hidden;}
.contactus p{ font-size:15px; line-height:40px;}
.contactus p.contactname{ font-weight:bold; float:left; width:75px;}
.contactus p.contacttel{ float:left;}
.contactus p span{ display:inline-block; width:272px;}
.contactus_tel{ clear:both; font-size:18px; line-height:40px; margin:30px auto 0; text-align:center;}
.contactus_tel span{ font-weight:bold;}

/*NewsList*/
.news_list{ clear:both; width:730px; margin:0 auto; padding:0; overflow:hidden;}
.news_list ul li{ clear:both; border-bottom:1px dashed #3e3a39; margin:0 auto 20px; padding:0 0 26px 0; overflow:hidden;}
.news_list ul li p.none{ display:none;}
.news_img{ float:left; display:inline; margin:0 20px 0 0; padding:0; width:160px; overflow:hidden;}
.news_img img{ display:block; width:160px; height:100px;}
.news_info{ line-height:24px; margin:0 auto; padding:0;}
.news_titel{ font-size:15px; padding:0 0 2px 0;}

.news_head{ clear:both; margin:0 auto; padding:0; text-align:left; overflow:hidden;}
.news_head h2{ font-weight:normal; font-size:16px; line-height:22px; margin:0 auto;}
.news_time{ clear:both;}
.news_counent{ clear:both; margin:0 auto 25px; padding:0;}
.news_counent p{ clear:both; text-indent:2em; padding:0; overflow:hidden; margin:0 auto 10px; font-size:14px;}
.news_bottom{ clear:both; border-top:1px dashed #3e3a39; padding:10px 0 0 0; margin:5px auto 0;}
.news_jump{ float:left; width:600px; text-align:left;}
.news_return{ float:right; width:75px; text-align:left;}
.times_news{ margin-bottom:15px;}

.dynamic_titel{ float:left; font-size:15px; width:595px; padding:0 0 2px 0;}
.dynamic_time{ float:right; width:100px; text-align:right;}

.page_number{ position:relative; height:25px; text-align:right; }
.page_bg{ height:2px; width:100%; background:#f2f2f0;}
.page_info{ clear:both;margin: 0 auto;display: inline-block;padding:0 10px; color:#a0a0a0; overflow:hidden; text-align:center; background:#ffffff;}
.page_info span{ margin:0 5px; height:15px; min-width:15px; line-height:15px; display:inline-block; color:#ffffff; background:#c8c8c8;}
.page_info span a{ height:15px; min-width:15px; line-height:15px; display:inline-block; color:#ffffff;}
.page_info a:link, .page_info a:visited{ text-decoration:none;}
.page_info a:hover, .page_info a:active, .page_info  a:focus{ background:#e91929; color:#ffffff; text-decoration:none;}
.page_info .page_on{ background:#e91929; color:#ffffff;}
.page_info p{ float:left;}
.page_info .first, .page_info .last{ background:none; color:#a0a0a0; font-family:"SimSun";}
.page_info .first a, .page_info .last a{ display:inline-block;background:none; color:#a0a0a0;}

/*HR*/
.hiring{ clear:both; width:730px; margin:0 auto; padding:0; overflow:hidden;}
.hiring_nav{ clear:both; height:52px; margin:0 auto; padding:0; overflow:hidden;}
.hiring_nav ul li{ float:left; display:inline; margin:0 10px 20px 0; color:#a7a7a7; font-size:15px;}
.hiring_nav ul li a{ display:block; color:#a7a7a7; padding:0 3px; border-bottom:2px solid #a7a7a7; line-height:30px;}
.hiring_nav ul li a:link, .hiring_nav ul li a:visited{text-decoration:none; border-bottom:2px solid #a7a7a7;}
.hiring_nav ul li a:hover, .hiring_nav ul li a:active, .hiring_nav ul li a:focus{text-decoration:none; background:#e91929; color:#fff; border-bottom:2px solid #e91929;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.hiring_nav ul li a.select{ background:#e91929; color:#fff; border-bottom:2px solid #e91929;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.hiring_counent{ clear:both; line-height:24px; margin:0 auto; padding:0; overflow:hidden;}
.hiring_af{ clear:both;}
.hiring_af p{ clear:both; margin:0 auto 20px; padding:0; overflow:hidden;}
.hiring_af strong{ font-size:14px;}
.hiring_af strong span{ margin:0 0 0 20px;}

.school_nav{clear:both; font-size:14px; height:40px; margin:0 auto; padding:0; overflow:hidden;}
.school_nav ul li{ float:left; display:inline; margin:0 25px 0 0; cursor:pointer;}
.school_nav ul li.hover{ color:#e91929;}
.school_nav ul li.select{ color:#e91929;}

.hiring_hi{ clear:both;}
.hiring_hi table{ clear:both; width:730px; margin:0 auto; padding:0; border-bottom:1px dashed #3e3a39;}
.hiring_hi table tr th{border-bottom:1px dashed #3e3a39; line-height:30px;}
.hiring_hi table tr{ border-bottom:1px dashed #a7a7a7; line-height:30px; vertical-align:top;}
.hiring_hi table tr.last{ border-bottom:1px dashed #3e3a39;}
.hiring_hi table tr a{ color:#e91929;}
.hiring_hi_mp{ clear:both; margin:30px auto; padding:0; overflow:hidden;}
.hiring_hi_mp p{ line-height:24px;}
.hiring_hi_exl{ text-indent:24px;}
.hiring_hi_exl img{ height:16px; width:16px;vertical-align: middle;}
.hiring_hi_tel span{ margin:0 0 0 20px;}
.hiring_hi_tel{ font-size:14px; font-weight:bold;}

p.prog_title{ font-size:14px; font-weight:bold; margin:30px auto 0; line-height:40px;}
.prog_pic{ clear:both; width:650px; margin:0 auto 40px; padding:0; overflow:hidden;}
.prog_pic_l{ float:left; width:330px;}
.prog_pic_r{ float:right; width:260px; margin:135px auto 0;}

.training_pic{ clear:both;}
/*.training_pic ul li{ float:left; width:160px; height:152px; display:inline; margin:0 20px 20px 0; padding:0; text-align:center; overflow:hidden;}*/
.training_pic ul li img{ height:500px;}
.training_pic ul li a:link, .training_pic ul li a:visited{text-decoration:none;}
.training_pic ul li a:hover, .training_pic ul li a:active, .training_pic ul li a:focus{text-decoration:none;}
.training_pic ul li.nomargin{ margin:0 auto 20px;}
.traning_lh ul li{ line-height:normal;}
.tapwater ul li{ height:auto;}
.life{ clear:both; margin:10px auto 0;}
.life ul{height:auto!important;height:516px;min-height:516px;}

/**************/
.demand{ color:#3e3a39; margin-bottom:20px; font-size:16px; padding-left:20px;}
.contmain{ margin:0 auto; padding:0; overflow:hidden;padding-right:1px; padding-left:1px;}
.job_table{background:#e3e3e3; float:left; width:100%; height:auto; padding-bottom:10px;}
div.job_table table{ border:0 none;}
div.job_table table tr{ border:0 none;}
.job_table .jo_tr{float:left; padding-top:10px;}
.job_table .jo_td{width:630px;float:left; padding-top:10px;}
.job_table .jb2_td{width:630px;float:left; padding-top:10px;}
.jb2_tda{width:250px; float:left; padding-top:10px;}
.jo_a{width:100px; float:left;}
.jo_m{width:700px; float:left; padding-left:30px; padding-top:10px; display:inline; line-height:1.5;}
.job_table .jo_ta{width:90px; float:left; text-align:right; font-family:"Microsoft YaHei"; font-size:14px; font-weight:bold; color:#3e3a39;}

.job_table span{width:90px; float:left; text-align:right; font-family:"Microsoft YaHei"; font-size:14px; font-weight:bold; color:#3e3a39;margin-top:10px;}
.job_table strong{padding-left:10px; float:left; font-family:"Microsoft YaHei"; font-size:14px; border-left:4px solid #e91929; font-weight:bold; color:#3e3a39; margin-left:20px; display:inline; margin-top:10px;}
.hr_page{ margin:20px auto;}
.job_bo{float:right;}
.job_bo a{ margin-right:10px; display:inline; display:block; float:right; height:20px; padding-right:25px; font-family:"Microsoft YaHei"; margin-top:10px; line-height:20px;}
.job_bo a.ia_nav{ color:#e91929;}
.job_bo a.ia_nnv{ color:#5e5e5e;}
.job_bo a.ia_nnv:hover{ color:#e91929;}
.job_bo .iv_nav{ background:none; color:#e91929; border:none; padding-right:20px; line-height:20px; margin-top:10px; cursor:pointer;}
.job_bo .iv_nnv{ background:none; color:#5e5e5e; border:none; padding-right:20px; line-height:20px; margin-top:10px; cursor:pointer;}

.job_main{background:#e3e3e3; padding-bottom:10px; color:#3e3a39;}
div.job_main table{ border:0 none; width:100%;}
div.job_main table tr{ border:0 none;}
.job_main .job_mt1{height:50px; line-height:50px; background:#3e83a2;}
.job_main .job_mt1 td{color:#fff; font-size:14px; font-family:"Microsoft YaHei"; padding-left:15px;}
.job_main .job_mtd{float:left; padding-left:15px; width:90px;color:#5f5f5f; font-weight:bold; font-size:14px; font-family:"Microsoft YaHei";}
.job_main strong{ padding-left:10px; float:left; border-left:4px solid #e91929; font-family:"Microsoft YaHei"; font-size:14px; font-weight:bold; color:#5f5f5f; display:inline;}
div.job_main table tr td{padding-top:10px; padding-bottom:10px; }
div.job_main table tr td tr td{ padding:0;}
.job_c{padding-left:15px;font-weight:bold; font-size:14px; font-family:"Microsoft YaHei"; padding-top:10px;}
.job_bg{width:247px; height:24px; float:left; background:#a6a4a5; }
.job_bg .job_txt{width:246px;text-align:left; height:23px; line-height:23px; float:left; color:#5f5f5f; font-size:12px; font-weight:normal; margin-left:1px; margin-top:1px; display:inline; background:#fff; border:none; border-left:1px solid #e6e4e5; border-top:1px solid #e6e4e5;}
.job_bg1{width:610px; height:24px; float:left; background:#a6a4a5;}
.job_bg1 .job_txt1{width:610px;text-align:left; height:23px; line-height:23px; float:left; color:#5f5f5f; font-size:12px; font-weight:normal; margin-left:1px; margin-top:1px; display:inline; background:#fff; border:none; border-left:1px solid #e6e4e5; border-top:1px solid #e6e4e5;}
.jo_mbg{width:702px; height:55px; float:left; background:#a6a4a5; }
.jo_mbg .job_more{width:700px;text-align:left; height:54px; line-height:1.5; float:left; color:#5f5f5f; font-size:12px; font-weight:normal; margin-left:1px; margin-top:1px; display:inline; background:#fff; border:none; border-left:1px solid #e6e4e5; border-top:1px solid #e6e4e5;}
.sel_p{width:100%; color:#555;}
.sel_p p{line-height:2; width:100%;}
.tit_ul{font-size:14px; height:200px; font-weight:bold; color:#ff0000; background:#e3e3e3; padding:20px; margin-bottom:10px;}
.tit_ul ul{font-size:12px; font-weight:normal; color:#555; margin-top:10px;}
.tit_ul ul li{line-height:2; float:left; width:230px;}
.sel_p{ clear:both; margin:0 auto 0; padding:10px 0; color:#555;}
.sel_p p{ margin:10px 0 0 25px;}

/*Brand*/
.brand_main{ position:relative; overflow:hidden; left:0; top:0; z-index:0;}

.brand_nav{ clear:both; position:absolute; top:0; left:0; margin:0 auto; padding:0; overflow:hidden; z-index:2;}
.brand_nav ul li{ width:120px; height:87px;filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity: 0.7; opacity: 0.7; background:#d6d6d6; line-height:87px; color:#4b4746; font-size:16px; text-align:center; margin:0 auto 4px; padding:0; cursor:pointer; overflow:hidden;}
.brand_nav ul li.current{ background:#e91929;filter:alpha(opacity=100); -moz-opacity:1; -khtml-opacity: 1; opacity: 1; color:#fff;}
.brand_nav ul li.nomargin{ width:120px; margin:0 auto;}

.brand_list{ width:99999999px; text-align:left;}
.brand_div{ float:left; width:1000px; margin:0 auto; padding:0;}

.brandtop{ float:left; display:inline; position:relative; width:100%; height:360px; margin:0 auto; padding:0 0 14px 0; overflow:hidden; }
.brandtop_1{ position:relative;}
.brandtop_left{ position:absolute; right:0; top:0; height:360px; width:243px; filter:alpha(opacity=90); -moz-opacity:0.9; -khtml-opacity: 0.9; opacity: 0.9; background:#f0f0f0; text-align:center; padding:0;}
.brandtop_left img{ margin:86px auto 0;}

.brand_centertop{ float:left; display:inline; position:relative; width:333px; height:278px; margin:0 auto; padding:0; overflow:hidden;}
.brand_ctcenter{width:334px;}

.brand_centertop_title{ position:absolute; bottom:0; left:0; height:50px; width:319px; line-height:50px; font-size:16px; color:#4b4746; padding:0 0 0 15px;}
.brand_centertop_bg1{ filter:alpha(opacity=90); -moz-opacity:0.9; -khtml-opacity: 0.9; opacity: 0.9; background:#e6e6e6;}
.brand_centertop_bg2{ filter:alpha(opacity=90); -moz-opacity:0.9; -khtml-opacity: 0.9; opacity: 0.9; background:#ffffff;}
.brand_more{ position:absolute; right:15px; top:15px; cursor:pointer;}

.brand_centerbot{ float:left; display:inline; position:relative; width:500px; height:278px; margin:0 auto; padding:0; overflow:hidden;}
.brand_centerbot_title{ position:absolute; bottom:0; left:0; height:50px; width:485px; line-height:50px; font-size:16px; color:#4b4746; padding:0 0 0 15px;}
.brand_centerbot_bg1{ filter:alpha(opacity=90); -moz-opacity:0.9; -khtml-opacity: 0.9; opacity: 0.9; background:#e6e6e6;}
.brand_centerbot_bg2{ filter:alpha(opacity=90); -moz-opacity:0.9; -khtml-opacity: 0.9; opacity: 0.9; background:#ffffff;}

.brand_bot{ float:left; display:inline; position:relative; width:855px; font-size:14px; color:#4b4746; text-align:left; line-height:24px; background:url(../img/brand_bot_bg.jpg) repeat-y 0 0; margin:14px auto 0; padding:35px 35px 35px 110px; overflow:hidden;}
.brand_lt{ position:absolute; top:0; left:0;}

/**/
.stockmarket{ clear:both; text-align:center; margin:0 auto; padding:0; overflow:hidden;}

/*品牌*/
.product_nav{font-family: "SimSun"; text-align:left; padding:0 0 6px 0; border-bottom:1px dashed #3e3a39;}
.product{ width:1000px; position:relative; left:0; top:0; z-index:10; zoom:1; margin:15px auto 0; padding:0; overflow:hidden;}
.industry{ clear:both; margin:20px auto 0; padding:0; overflow:hidden;}
.bo_cen{ width:727px;height: 500px;border: 1px solid #c8c8c8;margin:0 auto;overflow-y: scroll;padding: 10px 0px 10px 10px;line-height: 24px;}
.bo_cen p{ text-indent:2em;}

.product_list{ float:left; display:inline; width:135px; margin:15px auto 0;}
.pro_one_title{ background:#e91929; border-bottom:1px dashed #a7a7a7; height:30px; font-size:14px; font-weight:bold; padding:0 0 0 15px; text-align:left; line-height:30px; color:#fff;}
.pro_subnav{ clear:both; margin:0 auto; padding:0; overflow:hidden;}
.pro_subnav li{ border-bottom:1px dashed #a7a7a7; line-height:30px; color:#3e3a39;}
.pro_fr_nav{ clear:both; margin:0 auto; padding:0; overflow:hidden;}
.pro_subnav_name{ font-size:14px; padding:0 0 0 30px; text-align:left; background:url(../!images/sub_nav_bg_off.jpg) no-repeat right center;}
.pro_name_current{ color:#e91929; background:url(../img/sub_nav_bg.jpg) no-repeat right center;}

.pro_fr_nav a:link, .pro_fr_nav a:visited{text-decoration:none;color:#3e3a39;}
.pro_fr_nav a:hover, .pro_fr_nav a:active, .pro_fr_nav a:focus{text-decoration:none;color:#e91929;}
.pro_fr_nav a.pro_p_current{ color:#e91929;}


.product_show{ float:right; display:inline; width:830px; position:relative; left:0; top:0; z-index:10; zoom:1; margin:15px auto 0; padding:0; overflow:hidden;}


/*sitemap_main*/
.sitemap_main{ padding:0 15px; text-align:justify; text-justify:inter-ideograph;-webkit-text-justify:justify; margin:10px auto 0; text-align:left; overflow:hidden;}
.sitemap_main h1{ font-weight:normal; font-size:20px; line-height:40px; margin:0 auto 8px;}
.sitemap_main p{ line-height:28px; color:#3e3a39; font-size:14px;}
.sitemap_main p a{ color:#3e3a39;}
.sitemap_main p a:link, .sitemap_main p a:visited{ color:#3e3a39; text-decoration:none;}
.sitemap_main p a:hover, .sitemap_main p a:active, .sitemap_main p a:focus{ color:#e70012; text-decoration:underline;}

.sitemap_top{ border-bottom:1px solid #cacaca; padding:0 0 30px 0; margin:0 0 30px 0;}
.sitemap_nav{ float:left; width:290px;}
.sitemap_nav.last{ width:100px;}
.sitemap_main p.sitemap_nav_title{ color:#e70012; font-size:18px;}
.sitemap_main p.sitemap_nav_title a{ color:#e70012;}